
<%-include ("partials/header.ejs")  %>

 <nav id="navBar">
    <a href="/">Today</a>

    <a href="/work" class="workNav">Work</a>

    <div class="box" id="heading">
      <h1><%=formattedDate%></h1>
    </div>
 </nav>

 

  <div class="form">

    <div>
      <form action="/add" method="POST">
        <input type="text" name="newItem" placeholder="Add a new item" required>
        <button type="submit">Add</button>
      </form>
    </div>
    
    <div>
      <ul>
        <% for(let item of todoItems) { %>
          <li class="bulletin"><%= item %></li>
        <% } %>
      </ul>
    </div>
  </div>

<%-include ("partials/footer.ejs")  %>